[submodule "apps/demo/contracts/lib/forge-std"]
	path = apps/demo/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "apps/demo/contracts/lib/openzeppelin-contracts"]
	path = apps/demo/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "apps/demo/contracts/lib/hyperlane-monorepo"]
	path = apps/demo/contracts/lib/hyperlane-monorepo
	url = https://github.com/hyperlane-xyz/hyperlane-monorepo
